@media (min-width: 45em) {
    header {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    h1 {
        margin-left: 0;
        align-content: center;
        flex: 1;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    nav {
        flex: 1;
    }

    nav ul {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }

    #hamburger {
        display: none;
    }

    #temple-gallery {
        display: grid;
        grid-gap: 25px;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
